/* custom font icons */
@import "font-icons/style.css";
/* hightlight.js for syntax highlighting */
@import "github.css";

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(font-icons/fonts/fonts.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

a {
    color: #ff4081;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-size: 15px;
    line-height: 24px;
}

div.center {
    margin: auto;
}

/* Used in StylesOverridingCssExample.js */
.styles-overriding-css-example {
    width: 50% !important;
    margin: 0 auto !important;
    border: 2px solid #FF9800 !important;
    background-color: #ffd699 !important;
}

.button-rotate {
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    -ms-transition: all 1.5s;
    transition: all 1.5s;
}

.button-rotate:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
